<!DOCTYPE html>
<html ng-app="app" ng-controller="MainController">
<head>
  <title>{{ Page.title() }}</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href ng-click="showRecipes()" class="navbar-brand">Recipe Network</a>
      <div ng-show="!user.id">
        <a ng-click="showSignIn()" class="sign-in">Sign in</a>
        <a ng-click="showSignUp()" class="sign-up">Sign up</a>
      </div>
      <a ng-click='signOut()' ng-show="user.id" class="sign-out">Sign out</a>
      <a ng-click='favoritesPage()' class="favorite-recipes">Favorite Recipes</a>
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
